body{
    background-color: #000;
    font-family: var(--font-dm-sans);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}
.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
.sidebar ul li{
    padding: 10px 0;
}
.sidebar nav ul li a{
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.library{
    background-color: #121212;
    border-radius: 8px;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    margin-top: 10px;
    padding: 4px 8px;
}
.library .library__content{
    display: flex;
    justify-content: space-between;
}
.library .library__button{
    background-color: transparent;
    border: 8px;
    color: #b3b3b3;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}
.library .library__button .fa{
    color: #b3b3b3;
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    padding-right: 8px;
}
.library .library__content .fa-plus{
    cursor: pointer;
    margin: 24px 10px;
}
.section-playlist{
    align-items: flex-start;
    background-color: #242424;
    border-radius: 10px;
    color: #b3b3b3;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    justify-content: space-between;
    margin: 8px 0;
    padding: 16px 20px;
}
.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}
.section-playlist__content .text{
    color: #fff;
    padding-bottom: 14px;
}
.section-playlist__content .title{
    font-weight: 700;
}
.section-playlist__content .subtitle{
    font-size: 12px;
    font-weight: 500;
}
.section-playlist__content .section-playlist__button{
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    margin-top: 12px;
    padding: 10px;
    text-decoration: none;
    text-transform: none;
    width: 113px;
}
.sidebar .cookies{
    margin: 25px 20px;
}
.sidebar .cookies a{
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}
.sidebar .cookies a:hover{
    text-decoration: underline;
}
.sidebar__navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.languages .languages__button{
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
    width: 170px;
}
.logo img{
    width: 80px;
}
.disclaimer-premium{
    background: linear-gradient(to right, #101926, #2bdefd);
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
}
.disclaimer-premium .text{
    flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.disclaimer-premium .disclaimer-premium__subtitle{
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}
.disclaimer-premium button{
    background-color: #fff;
    border: 0;
    border-radius: 40px;
    color: #000;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
}